################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
/.cr
/Releases
/documents
/PstFileAttachmentExporter/bin
/PstFileAttachmentExporter/obj

