################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/.vs/XstReader/v14
/bin/Release
/obj/Release
/.vs/XstReader/v15
/Releases
/documents
/.vs/PstFileAttachmentExporter
/PstFileAttachmentExporter/bin/Debug/netcoreapp3.1
/PstFileAttachmentExporter/obj
/.vs
/.cr
