@using XstReader
@using XstReader.App.Common
@using XstReader.ElementProperties
@using XstReader.Razor.Templates

@model XstMessage

@{
    XstMessage Message = Model;
    XstExportOptions Options = RenderOptions.ExportOptions;

    if (!ViewData.ContainsKey("Level"))
        ViewData.Add("Level", 1);

    int level = (ViewData["Level"] as int?) ?? 0;
    if (level == 0) level = 1;
}

@* Body *@
@* @Html.Raw($"<H{level}>Body</H{level}>") *@
<p>
    @if (Message?.Body?.Format == XstMessageBodyFormat.Rtf)
    {
        @Html.Raw(RtfPipe.Rtf.ToHtml(Message.Body.Text))
    }
    else
    {
        @Html.Raw(Message?.Body?.Text ?? "")
    }
</p>