@using XstReader
@using XstReader.App.Common
@using XstReader.ElementProperties
@using XstReader.Razor.Templates

@model XstMessage

@{
    XstMessage Message = Model;
    XstExportOptions Options = RenderOptions.ExportOptions;

    if (!ViewData.ContainsKey("Level"))
        ViewData.Add("Level", 1);

    int level = (ViewData["Level"] as int?) ?? 0;
    if (level == 0) level = 1;
}

@functions
{
    ViewDataDictionary GetDictionary(string start, string end = "<br>")
        => new ViewDataDictionary(ViewData) { { "Start", $"{start}" }, { "End", end } };
}

@* Header *@
@* @Html.Raw($"<H{level}>Header</H{level}>") *@
<hr>
<p>
@{
    Html.RenderPartial("XstRecipientView_ListItems", Message.Recipients[RecipientType.Sender], GetDictionary("<b>From:</b>"));
    Html.RenderPartial("XstRecipientView_ListItems", Message.Recipients[RecipientType.OriginalSentRepresenting], GetDictionary("<b>Representing:</b>"));
            <b>Sent:</b> @Message.SubmittedTime<br>
    Html.RenderPartial("XstRecipientView_ListItems", Message.Recipients[RecipientType.To], GetDictionary("<b>To:</b>"));
    Html.RenderPartial("XstRecipientView_ListItems", Message.Recipients[RecipientType.Cc], GetDictionary("<b>Cc:</b>"));
    Html.RenderPartial("XstRecipientView_ListItems", Message.Recipients[RecipientType.Bcc], GetDictionary("<b>Bcc:</b>"));
            <b>Received:</b> @Message.ReceivedTime<br>
    Html.RenderPartial("XstRecipientView_ListItems", Message.Recipients[RecipientType.ReceivedBy], GetDictionary("<b>Received By:</b>"));
    Html.RenderPartial("XstRecipientView_ListItems", Message.Recipients[RecipientType.ReceivedRepresenting], GetDictionary("<b>Received Representing:</b>"));
        <b>Subject:</b> @Message.Subject<br>
    Html.RenderPartial("XstAttachmentView_ListItems", Message.Attachments.Where(a=> !a.IsHidden && a.IsFile), GetDictionary("<b>Attachments (files):</b>"));
    Html.RenderPartial("XstAttachmentView_ListItems", Message.Attachments.Where(a=> !a.IsHidden && a.IsEmail), GetDictionary("<b>Attachments (emails):</b>"));

    if(Options.ShowHiddenAttachmentsInList)
    {
        Html.RenderPartial("XstAttachmentView_ListItems", Message.Attachments.Where(a=> a.IsHidden && a.IsFile), GetDictionary("<b>Attachments (hidden files):</b>"));
        Html.RenderPartial("XstAttachmentView_ListItems", Message.Attachments.Where(a=> a.IsHidden && a.IsEmail), GetDictionary("<b>Attachments (hidden emails):</b>"));
    }
}
</p>
<hr>